<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/search/search.css"/>
</th:block>

<th:block layout:fragment="js">
	<script src="/js/search/search.js"></script>
	<script type="text/javascript">
		$(function () {
		
		});
	</script>
</th:block>

<div layout:fragment="content" class="container_wrap">
	<h2>통합검색</h2>
	
	<form class="search_form" method="post" action="/search">
	<div class="total_search_top_area">
		<select class="select_index">
			<option value="">전체</option>
			<option value="board">게시판</option>
		</select>
		<input type="text" class="search_keyword" name="query" title="검색어를 입력하세요." placeholder="검색어를 입력하세요." th:value="${paramMap.getOrDefault('query', '')}"/>
		<div class="btn_total_search_area">
			<a href="javascript:" class="btn_total_search">
				<i class="fas fa-search"></i>
			</a>
		</div>
	</div>
	</form>
	
	<div class="total_search_index_area">
		<a href="javascript:" class="btn_search_index active">
			<span>전체</span>
		</a>
		<a href="javascript:" class="btn_search_index">
			<span>게시판</span>
		</a>
	</div>
	
	<div class="total_search_content_area">
		<div class="total_search_count_area">
			통합 검색 건수
			(<span th:text="${totalCount}" class="total_search_count"></span>건)
		</div>
		
		<div th:each="result, index : ${resultList}" class="search_content_area">
			<div class="search_index_name">
				<span th:text="${korNamesMap.get(indexList.get(index.index))}"/>
				(<span th:text="${result.getTotalHits()}" class="search_count"></span>건)
			</div>
			
			<div class="search_result_area">
				<div th:each="resultContent : ${result.getSearchHits()}" class="search_result">
					<div class="search_result_top_area">
						<span th:text="${resultContent.getContent().getTitle()}" class="search_result_title"></span>
						<div class="search_result_info_area">
							등록일&nbsp;:&nbsp;<span th:text="${resultContent.getContent().getCreateDate()}"></span>
							작성자&nbsp;:&nbsp;<span th:text="${resultContent.getContent().getUserName()}"></span>
							조회수&nbsp;:&nbsp;<span th:text="${resultContent.getContent().getReadCount()}"></span>
						</div>
					</div>
					
					<div class="search_result_content_area">
						<span th:utext="${resultContent.getHighlightField('content')}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>