
.total_search_top_area {
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

.select_index {
	width: 100px;
	height: 49px;
	vertical-align: top;
	font-size: 15px;
}

.search_keyword {
	width: 50%;
	line-height: 45px;
	margin-left: -5px;
	font-size: 15px;
}

.btn_total_search_area {
	width: 50px;
	line-height: 47px;
	vertical-align: top;
	margin-left: -5px;
	border: 1px solid #000000;
	font-size: 25px;
}

.btn_total_search {
	width: 100%;
	height: 100%;
}

.total_search_index_area {
	width: 100%;
	height: 50px;
}

.btn_search_index {
	width: 150px;
	line-height: 48px;
	border: 1px solid #000000;
}

.total_search_content_area {
	width: 100%;
}

.total_search_count_area {
	display: block;
	margin: 15px 0;
}

.search_content_area {
	display: block;
}

.search_index_name {
	display: block;
	background-color: #DDDDDDFF;
	padding: 10px;
}

.search_result_area {
	display: block;
	margin: 15px 0;
	border-bottom: 2px solid #000000;
}

.search_result {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #000000;
}

.search_result div {
	display: block;
}

.search_result_top_area {
	margin-bottom: 10px;
}

.search_result_title {
	display: inline-block;
	width: 50%;
	font-size: 18px;
}

.search_result_info_area {
	display: inline-block;
	float: right;
}

.search_result_info_area span:not(:last-child):after {
	content: '|';
	margin: 0 10px;
	color: #000000;
}

.search_result_title_area span:not(.search_result_title) {
	display: inline-block;
	margin-right:5px;
}

