<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>My First Spring Boot Project!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- css area -->
	<link rel="stylesheet" type="text/css" href="/css/fontawesome/all.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main/main.css" />
	<th:block layout:fragment="css"/>
	
	<!-- js area -->
	<script src="/js/jQuery/jquery-3.6.0.js"></script>
	<script src="/js/jQuery/jquery.tmpl.js"></script>
	<th:block layout:fragment="js"/>
	<!--<th:block th:include="layout/tmpl/tmpl.html"/>-->
</head>

<!-- header area -->
<header th:replace="layout/fragments/header :: headerFragment"></header>

<!-- content area -->
<div layout:fragment="content" class="container_wrap"></div>

<!-- footer area -->
<footer th:replace="layout/fragments/footer :: footerFragment"></footer>

</html>