<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/board/board.css" />
</th:block>

<th:block layout:fragment="js">
	<script src="/js/board/board.js"></script>
	<script type="text/javascript">
		/*$(function () {
			var tmplObj = {
				resultList: [[${resultList}]]
			};
			
			console.log('tmplObj :', tmplObj);
			
			$('.content_area').html($('#addBoardTable').tmpl(tmplObj));
		});*/
	</script>
</th:block>

<div layout:fragment="content" class="container_wrap">
	<h2>게시판</h2>
	
	<div class="additional_service_area">
		<div class="board_search_area">
			<select class="search_type">
				<option value="">전체</option>
				<option value="title">제목</option>
				<option value="content">내용</option>
				<option value="userName">작성자</option>
			</select>
			<input type="text" class="search_text" title="검색어를 입력하세요." placeholder="검색어를 입력하세요."/>
			<div class="btn_board_search_area">
				<a href="javascript:" class="board_search_link">검색</a>
			</div>
		</div>
		
		<div class="board_button_area">
			<a href="/board/findOne?type=i" class="board_insertion_link">등록</a>
		</div>
	</div>
	
	<table class="board_table">
		<colgroup>
			<col width="10%"/>  <!-- 번호 -->
			<col width=""/>     <!-- 제목 -->
			<col width="20%"/>  <!-- 작성자 -->
			<col width="10%"/>  <!-- 조회수 -->
			<col width="10%"/>  <!-- 작성일 -->
		</colgroup>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>작성일</th>
			</tr>
		</thead>
		
		<tbody th:if="${resultList.size() == 0}">
			<tr>
				<td colspan="5">조회된 게시물이 없습니다.</td>
			</tr>
		</tbody>
		
		<tbody th:if="${resultList.size() != 0}">
		<tr th:each="board : ${resultList}">
			<td th:text="${board.id}"></td>
			<td th:text="${board.title}"></td>
			<td th:text="${board.userName}"></td>
			<td th:text="${board.readCount}"></td>
			<td th:text="${board.createDate}"></td>
		</tr>
		</tbody>
	</table>
	
	<div class="pagination_area">
	
	</div>
</div>

</html>