<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/board/board.css" />
</th:block>

<th:block layout:fragment="js">
	<script src="/js/board/board.js"></script>
	<script type="text/javascript">
		/*$(function () {
			var tmplObj = {
				resultList: [[${resultList}]]
			};
			
			console.log('tmplObj :', tmplObj);
			
			$('.content_area').html($('#addBoardTable').tmpl(tmplObj));
		});*/
	</script>
</th:block>

<div layout:fragment="content" class="container_wrap">
	<h2>게시판</h2>
	
	<div class="additional_service_area">
		<div class="board_search_area">
			<select class="search_type">
				<option value="">전체</option>
				<option value="title">제목</option>
				<option value="content">내용</option>
				<option value="userName">작성자</option>
			</select>
			<input type="text" class="search_text" title="검색어를 입력하세요." placeholder="검색어를 입력하세요."/>
			<div class="btn_board_search_area">
				<a href="javascript:" class="board_search_link">검색</a>
			</div>
		</div>
		
		<div class="board_button_area">
			<a href="/board/findById?type=i" class="board_insertion_link">등록</a>
		</div>
	</div>
	
	<table class="board_table">
		<colgroup>
			<col width="10%"/>  <!-- 번호 -->
			<col width=""/>     <!-- 제목 -->
			<col width="15%"/>  <!-- 작성자 -->
			<col width="10%"/>  <!-- 조회수 -->
			<col width="10%"/>  <!-- 작성일 -->
		</colgroup>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>작성일</th>
			</tr>
		</thead>
		
		<tbody th:if="${resultList.getContent().size() == 0}">
			<tr>
				<td colspan="5">조회된 게시물이 없습니다.</td>
			</tr>
		</tbody>
		
		<tbody th:if="${resultList.getContent().size() != 0}">
		<tr th:each="board, index : ${resultList}">
			<td th:text="${index.index + (resultList.getSize() * resultList.number + 1)}"></td>
			<td>
				<a th:href="@{/board/findById(type='r', id=${board.id})}" th:text="${board.title}" class="board_detail_link">
				</a>
			</td>
			<td th:text="${board.userName}"></td>
			<td th:text="${board.readCount}"></td>
			<td th:text="${board.createDate}"></td>
		</tr>
		</tbody>
	</table>
	
	<div class="pagination_area" th:with="pageSize=${resultList.getSize()},
											start=${T(Math).floor(resultList.number / pageSize) * pageSize + 1},
											last=(${start + (pageSize - 1) < resultList.totalPages ? start + (pageSize - 1) : resultList.totalPages})">
		<div th:class="${resultList.first} ? 'disabled'">
			<a th:href="${resultList.first} ? 'javscript:' : @{/board(currentPage=0)}" title="처음으로">&lt;&lt;</a>
		</div>
		
		<div th:class="${resultList.first} ? 'disabled'">
			<a th:href="${resultList.first} ? 'javascript:' : @{/board(currentpage=${resultList.number})}" title="이전">&lt;</a>
		</div>
		
		<div th:each="page : ${#numbers.sequence(start, last)}"
		     th:class="${page == resultList.number - 1} ? 'active'">
			<a th:href="@{/board(currentPage=${page - 1})}" th:title="${page}" th:text="${page}"></a>
		</div>
		
		<div th:class="${resultList.last} ? 'disabled'">
			<a th:href="${resultList.last} ? 'javascript:' : @{/board(currentPage=${resultList.number + 1})}" title="다음">&gt;</a>
		</div>
		
		<div th:class="${resultList.last} ? 'disabled'">
			<a th:href="${resultList.last} ? 'javascript:' : @{/board(currentPage=${resultList.totalPages - 1})}" title="끝으로">&gt;&gt;</a>
		</div>
	</div>
</div>

</html>