
.additional_service_area {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.board_search_area {
	float: left;
	height: 100%;
}

.board_button_area {
	float: right;
	width: 70px;
	height: 38px;
	border: 1px solid #000000;
}

.search_type {
	width: 100px;
	height: 100%;
	padding: 5px 15px;
}

.search_text {
	width: 250px;
	line-height: 36px;
	padding-left: 10px;
}

.btn_board_search_area {
	float: right;
	width: 70px;
	height: 100%;
	border: 1px solid #000000;
}

.board_search_link {
	width: 100%;
	line-height: 40px;
}

.board_insertion_link {
	width: 100%;
	line-height: 36px;
}

.board_table {
	width: 100%;
}

.pagination_area {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.board_detail_link {
	width: 100%;
}

.board_detail_area {
	display: table;
	width: 100%;
	height: 680px;
}

.board_detail_area span {
	display: inline-block;
	width: 80px;
	box-sizing: border-box;
	text-align: right;
	line-height: 40px;
	border :1px solid #000000;
	padding: 1px 2px;
}

.board_top_area {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.board_top_area input {
	line-height: 40px;
	padding-left: 10px;
}

.board_id_area+.board_title_area {
	margin-left: 15px;
}

.board_title_area {
	width: 55%;
}

.board_title {
	width: calc(100% - 85px);
}

.board_user_name_area {
	float: right;
}

.board_user_name {
	margin-right: 1px;
}

.board_bottom_area {
	display: table-row;
	width: 100%;
	height: 100%;
}

.board_content_area {
	width: 100%;
	height: 100%;
}

.board_content_area span {
	vertical-align: top;
}

.board_content {
	display: inline-block;
	width: calc(100% - 85px);
	height: 100%;
	padding: 10px 5px 5px 10px;
}

.board_detail_button_area {
	float: right;
	height: 40px;
	margin: 10px 1px 0 0;
}

.board_detail_button_area div {
	width: 70px;
	line-height: 40px;
	border: 1px solid #000000;
	text-align: center;
}

.board_detail_button_area div a {
	width: 100%;
}

.board_detail_button_area div:not(:last-child) {
	margin-right: 10px;
}